.header {
    background-color:blue;
}
.body {
    background: url("Top.png") top no-repeat, url("Bottom.png") bottom no-repeat;
    background-size: 100%, 100%;
    background-color: #F1B2D3;
}

.pink_bacground {
    background-color: #F1B2D3, 
}

.pink1 {
    background-color: #EC008C
}

.pink_text {
    color: #EC008C
}

.pink_disabled {
    color: #7a2257
}

.link:hover {
    color: #FFFFFF;
    background-color: #EC008C;
  }

.pink2 {
    background-color: #feabfd; 
}