

assets
#R project
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python # 
*.py[cod] 
*$py.class 

# Mac crap
.DS_Store
*.DS_Store

#ignore xlsx
*~
~$Jeopardy.xlsx


# Visual Studio Code # 
.vscode/
!.vscode/settings.json 
!.vscode/tasks.json  
!.vscode/launch.json 
!.vscode/extensions.json 
.history


# Django #
*.log
*.pot
*.pyc
__pycache__
media
dump.json

