{% extends 'jeopardy/base.html' %}

{% block content %}
<h1 class = "text-center mt-3">Jeopardy!!</h1>

<!--team part-->
<div class="row justify-content-center align-items-center g-2">

  <!--keep track of whos turn it is-->
  <div class="col">
    <div class="card mt-3" style = "width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-center" style = "color: {{activeTeam.color}};">{{activeTeam}} Turn </h4>
      </div>
    </div>
  </div>

  <!--keep track of score of each team-->
  <div class="col">
    <div class="card mt-4">
      <div class="card-header">
        <h4 class="card-title text-center">Teams Scores</h4>
      </div>
      
      <ul class="list-group list-group-flush">
        {% for team in teams %}
        <li class="list-group-item">{{team.0}} : {{team.1}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<!--main board-->
<div class="card mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          {% for topic in topics %}
          <th scope="col" style="width: 12rem;"><p class = "text-center">{{topic}}<p></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for points in questions %}
        <tr class="">
          {% for question in points %}
          <td class = "text-center">
            {#btn btn-outline-secondary btn-lg #}
            {% if question.incorect.all.count != 0 or question.correct.all.count != 0 %}
            <p class="mb-0 pink_disabled">{{question.points}}</p>
            {% else %} 
            <a href="/question/{{question.id}}/{{team_id}}" style = "color: {{question.color}}">{{question.points}}</a><br>
            {#{% for team in question.team_set.all %}{{team}} {% endfor %}#}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<a class="btn btn-secondary mt-4" href="/admin">Settings</a>



{% endblock content %}