{% extends 'jeopardy/base.html' %}

{% block content %}
<h1 class = "text-center mt-3">Jeopardy!!</h1>
<a class="btn btn-secondary" href="/admin">Settings</a>
<div class="card mt-5">
  <div class="table-responsive">
    <table class="table table-striped-columns">
      <thead>
        <tr>
          {% for topic in topics %}
          <th scope="col" style="width: 12rem;"><p class = "text-center">{{topic}}<p></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for points in questions %}
        <tr class="">
          {% for question in points %}
          <td class = "text-center">
            {% if question.team_set.all.count == 0 %}
            <a href="question/{{question.id}}" class="btn btn-outline-secondary btn-lg">{{question.points}} </a>
            {% else %} 
            <a href="question/{{question.id}}" class="btn btn-outline-secondary btn-lg disabled">{{question.points}}</a><br>
            {% for team in question.team_set.all %}{{team}} {% endfor %}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




{% endblock content %}