{% extends 'jeopardy/base.html' %}

{% block content %}
<form method = "post" action="/question/{{url.0}}/{{url.1}}">
    <div id="carouselId" class="carousel slide">
        <br><br><br>
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>{{question.topic}} for {{ question.points }} points<h1>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">{{question.question}}</h4>
                        <button class="btn btn-success" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        Check
                    </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>{{question.question}}<h1>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Correct Answer: {{question.answer}}</h4>
                        <br>
                        {{profileForm.as_p}}
                        {% csrf_token %}
                        <input class="btn btn-success" type="submit" value="Correct">
                        <input class="btn btn-danger" type="submit" value="Incorrect"><br>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Form info
        </div>
        <div class="card-body">
            {{teamForm.as_p}}
            {% regroup field by attrs.cat_name as list %}

            <ul>
                {% for el in list %}
                    <li>{{el.grouper}}
                    <ul>
                        {% for e in el.list %}
                            {{e}} <br />
                        {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form> 


{%endblock%}