{% extends 'jeopardy/base.html' %}

{% block content %}
<form method = "post" action="/question/{{url.0}}/{{url.1}}">
    <div id="carouselId" class="carousel slide">
        <br><br><br>
        <div class="carousel-inner">
            
            <div class="carousel-item active">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>{{question.topic}} for {{ question.points }} points<h1>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">{{question.question}}</h4>
                        <button class="btn btn-success" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        Check
                    </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1>{{question.question}}<h1>
                    </div>
                    <div class="card-body">
                        <h4 class="card-text">Correct Answer: {{question.answer}}</h4>
                        <br>
                        {% csrf_token %}

                        {% for option in teamForm.correct %}
                        {% if option.choice_label == question.str %}
                        <div class="form-check">
                            {{ option.tag }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Correct
                            </label> 
                        </div>
                        {{option.errors}}
                        {% else %}
                        <div class="form-check visually-hidden">
                            {{ option.tag }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Correct hidden
                            </label> 
                        </div>
                        {% endif %}
                        
                        {% endfor %}

                        {% for option in teamForm.incorrect %}{% if option.choice_label == question.str %}
                        <div class="form-check">
                            {{ option.tag }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Incorrect
                            </label> 
                        </div>
                        {{option.errors}}
                        {% else %}
                        <div class="form-check visually-hidden">
                            {{ option.tag }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Incorrect hidden
                            </label> 
                        </div>
                        {{option.errors}}
                        {% endif %}
                        {% endfor %}
                        {#{% endcomment %}#}
                        <input class="btn btn-primary" type="submit" value="Next Question"><br>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form> 


{%endblock%}